*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
    width: 720px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 10px 10px 10px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 10px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 10px 3px rgba(0,0,0,0.75);
}

.card-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.card-left > span {
    font-weight: 400;
}

.card-left > a {
    margin-top: 15px;
    font-size: 25px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

.card-left > p {
    color: gray;
}

.card-right > img {
    width: 99%;
}